.bg-blue{
  background-color: #1E88E5;
}
.bg-blue-1{
 background-color: #64B5F6;
}
.bg-yellow{
  background-color: #FFD026;
}
.bg-green{
  background-color: #16A75C;
}
.bg-green-1{
  background-color: #4DC27E;
}

.text-blue{
  color: #1E88E5;
}
.text-yellow{
  color: #FFD026;
}
.text-green{
  color: #16A75C;
}
.text-gray{
  color: #616161;
}

.mar100{
  margin-top: 100px;
}
.pl{
  padding-left: 20px;
}